/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_overide";
@import "variables";
@import "clrs";
@import "comments";
@import "opinions";
// @import "scaffolds";
@import "search";
@import "users";

body {
	background: $silver;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.navbar {
	background-color: rgba(1,1,1,0.75);
	// border-radius: 0 !important;
	box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.22);
	a.navbar-brand {
		color: $white ; //#433867
	  text-shadow:
	   -1px -1px 0 rgba(1, 1, 1, 0.22),  
	    1px -1px 0 rgba(1, 1, 1, 0.22),
	    -1px 1px 0 rgba(1, 1, 1, 0.22),
	     1px 1px 0 rgba(1, 1, 1, 0.22);
		font-size: 40pt;
		font-weight: bold;
		text-decoration: none;
		// margin-left: auto;
	  // margin-right: auto;
	  // width: 200px;
	  // background-image: url('../images/logo-colour-small.png');
	  -o-transition:color .2s ease-out, background 2s ease-in;
	  -ms-transition:color .2s ease-out, background 2s ease-in;
	  -moz-transition:color .2s ease-out, background 2s ease-in;
	  -webkit-transition:color .2s ease-out, background 2s ease-in;
	  transition:color .2s ease-out, background 2s ease-in;
	
		&:hover {
			color: $lime;
			text-decoration: none;
		}
	}	
	.navbar-search-input {
		// margin-top: 8px;
		// width: 200px;
	}
	.navbar-avatar {
		margin-top: -9px;
		margin-bottom: -9px;
		max-width: 35px;
		border-radius: 50%;
	}
	.navbar-right {
		a {
			color: $white;
		}
		a:hover {
			color: $lime;
			background-color: $black;                   
		}
	}
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
}

#page {
	margin: 0 auto;
  width: 100%;
  position: relative;
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

textarea {
	min-height: 100px;
}

#image-border {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
  overflow:hidden;
}

.vote_padding {
	padding-top: 3px;
}

.padding {
	padding: 20px;
	position: relative;
}

.form-label {
	width: 100px;
}