/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require clrs
 *= require comments
 *= require opinions
 *= require scaffolds
 *= require search
 *= require users
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_overide";

body {
	background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #433867;
			font-size: 16pt;
			font-weight: bold;
			text-decoration: none;
			/*margin-left: auto;
	    margin-right: auto;
	    width: 200px;
	    background-image: url('../images/logo-colour-small.png');*/
		  -o-transition:color .2s ease-out, background 2s ease-in;
		  -ms-transition:color .2s ease-out, background 2s ease-in;
		  -moz-transition:color .2s ease-out, background 2s ease-in;
		  -webkit-transition:color .2s ease-out, background 2s ease-in;
		  transition:color .2s ease-out, background 2s ease-in;
		
			&:hover {
				text-decoration: none;
			}
		}
		a:hover { 
			color: #5cb85c;
			background-color: #F8F8F8;
		}
	}	
	.navbar-search {
		margin-top: 8px;	
	}
	.navbar-avatar {
		margin: -8px 10px -10px -10px;
		padding: 0;
		max-width: 35px;
		border-radius: 50%;
	}
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
}

#page {
	margin: 60px auto 0 auto;
  width: 100%;
  position: relative;
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

textarea {
	min-height: 250px;
}

#image-border {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
  overflow:hidden;
}

.free_top {
	margin-top: 50px;
}

.vote_padding {
	padding-top: 3px;
}