// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.user-comments {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    list-style: none;
    position: relative;
    background-color:#e2edee;
    color:#FFFFF;
    padding: 50px;
}

.user-comments h4 {
text-align:right;
}

.comment {
    margin: auto auto 1px;
    width: 100%;
    list-style: none;
    position: relative;
    background-color:#bddee3;
    color:#FFFFF;
    padding: 10px;
}

.comment-header {
    margin: auto auto 1px;
    width: 100%;
    list-style: none;
    position: relative;
    background-color:#226677;
    color:#FFFFF;
    padding: 30px;
	
}

.comment-header ul {
	list-style: none;
}

/* comment */

.comments {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #C0D6E4;
  }

  .user {
    margin-left: 10px;
    margin-top: 5em;
    padding-top: 0;
  }

  .text {
    display: block;
    margin-left: 70px;
    img {
    display: block;
    padding: 5px 0;
    }
  }

  .timestamp {
    color: #b6b4b4;
    font-size: 80%;
    display: block;
    margin-left: 70px;
  }

  .picture img {
    float: left;
    margin-top: 5px;
    max-width: 60px;
    border-radius: 50%;
  }

  .picture-0 {
    border: 3px solid $orange;
  }
  .picture-1 {
    border: 3px solid $blue;
  }
  .picture-2 {
    border: 3px solid $green;
  }
}

.comment-edit-delete {
  position: absolute;
  top: -11px;
  right: 0;
}

.comment-vote-buttons {
  display: flex;
  justify-content: space-between;
}