.hoojah {
	border-radius: 8px;

	span.text {
    display: block;
    img {
    display: block;
    padding: 5px;
    }
  }

  span.timestamp {
    color: #b6b4b4;
    font-size: 80%;
    display: block;
    margin-left: 70px;
  }
}
.hoojah-blue{
	border: solid 4px $blue;
}
.hoojah-green {
	border: solid 4px $green;
}