// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.avatar {
  // margin-right: 10px;
  // margin-top: 5px;
  width: 100px;
  border-radius: 50%;
}

.user-heading {
	display: flex;
  align-items: center;

}

.user-name {
  margin-left: 20px;
	font-size: 24pt;
}

.user pre {
	font-family: sans-serif;
	
	white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}