// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.avatar {
  // margin-right: 10px;
  // margin-top: 5px;
  width: 35px;
  border-radius: 50%;
}

.user.panel-heading {
	overflow: auto;
}

.user h2 {
	font-size: 18px;
}

.user pre {
	font-family: sans-serif;
	
	white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}